@model IEnumerable<DataTables.Models.Employees>
@{
    ViewBag.Title = "CustomTable";
}

<link href="~/Content/CustomTableCSS.css" rel="stylesheet" />

<h2>CustomTable</h2>

<hr />

<table border='1' class="view_table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>LastName</th>
            <th>FirstName</th>
            <th>Title</th>
            <th>BirthDate</th>
            <th>HireDate</th>
            <th>Address</th>
            <th>City</th>
            <th>PostalCode</th>
            <th>Country</th>
            <th>HomePhone</th>
            <th>Extension</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Extension)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>LastName</th>
            <th>FirstName</th>
            <th>Title</th>
            <th>BirthDate</th>
            <th>HireDate</th>
            <th>Address</th>
            <th>City</th>
            <th>PostalCode</th>
            <th>Country</th>
            <th>HomePhone</th>
            <th>Extension</th>
        </tr>
    </tfoot>
</table>